<head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
      <title>Cooking Easy</title>
      <meta content="Karla Rodrigues" name="keywords" />

      <!-- Responsive -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Styles -->
      <link href="./css/style.css" rel="stylesheet" type="text/css">
      <link href="./css/styleMenu.css" rel="stylesheet" type="text/css">

      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"
            rel="stylesheet">

      <!-- Icons -->
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <link href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" rel="stylesheet">

</head>

<body>

      <header>

            <div id="menu">

                  <div class="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul class="menuCel">
                              <li> <a href="./index.php">Home</a></li>
                              <li> <a href="./about.php">About</a></li>
                              <li> <a href="./favorites.php">Favorites</a></li>
                              <!-- New page with API connection 
                              <li> <a href="./more.php">+Recipes</a></li> -->
                        </ul>
                  </div>

                  <div class="menuWeb">
                        <ul>
                              <li> <a href="./index.php">Home</a></li>
                              <li> <a href="./about.php">About</a></li>
                              <li> <a href="./favorites.php">Favorites</a></li>
                              <!-- New page with API connection 
                              <li> <a href="./more.php">+Recipes</a></li> -->
                        </ul>
                  </div>

            </div>

      </header>